@page "/console"
@rendermode @(new Microsoft.AspNetCore.Components.Web.InteractiveServerRenderMode())
@inject NavigationManager Nav
@inject IJSRuntime JS

<PageTitle>Printer Console</PageTitle>


<div class="wrap">
    <div class="nav">
        <NavLink href="/">← Back to Control Panel</NavLink>
        <NavLink href="/config" style="margin-left:10px">⚙️ Configuration</NavLink>
    </div>
</div>


@code {
    // All printer UI logic is now handled by the persistent component in MainLayout
}
